<ul class="nav nav-pills lateral collapse" style="margin: 5px 0;">
    <li class="nav-item">
        <a class="nav-link" href="home-adm"><i class="fa-solid fa-house"></i>   Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="cal-adm"><i class="fa-solid fa-calendar-days"></i>   Calendario</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="activ-adm"><i class="fa-solid fa-note-sticky"></i>   Actividades</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="notif-adm"><i class="fa-solid fa-bell"></i>   Notificaciones</a>
    </li>
    -->
    <li class="nav-item">
        <a href="home" class="nav-link" style="color: rgb(255, 133, 133);"><i class="fa-solid fa-arrow-right-from-bracket"></i>   Salir</a>
    </li>
</ul>