.lateral{
    display: block;
    background: #426E21;
    width: auto;
}
ul a{
    border-radius: 0;
    color: white;
    padding: 20px;
    transition: 200ms all;
}

ul a:hover{
    background: #395e1c;
    font-size: larger;
}