.fa{
    float: right; 
    width: 20%;
    color: green;
}
.alert{
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.651);
    margin: 15px;
    width: 95%;
    font-style: arial;
    font-size: 20px;
    height: 80px;
    border-color: rgba(255, 255, 255, 0);
}

.hd{
    display: block;
    float: left;
    background: gainsboro;
    margin: 10px;
    width: 75%;
    font-style: italic;
    font-size: 20px;
    height: 80px;
}
.btt{
justify-content: flex-start;
float: right;
color: cadetblue; 
}

.fe{
    float: right; 
    width: 15%;
    top: 10%;
}
.ca{
    color: black;
}
.ttt{
width: 20%;
top: 10%;
float: right;
}
.noti{
    padding: 5px;
}