<div class="row">
    <div class="col-md-2">
      <app-sidebar-adm></app-sidebar-adm>
    </div>
    <div class="col-md-10">
      <!--Empieza-->
      <div class="container noti">
        <h1>
          <div class="alert alert-success">
            <strong>Nuevo!!!</strong> Torneo de zumba
            <div class="btt">
              <button type="button" class="btn btn-primary">Finalizado</button>
            </div>
            <div class="fe">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <strong>11-07-2023</strong>
            </div>
          </div>
          <div class="alert alert-success">
            <strong>Nuevo!!!</strong> Reunion de cordinadores
            <div class="btt">
              <button type="button" class="btn btn-primary">Finalizado</button>
            </div>
            <div class="fe">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <strong>11-07-2023</strong>
            </div>
          </div>
          <div class="alert alert-success">
            <strong>Nuevo!!!</strong> Resultados torneo de ajedrez
            <div class="btt">
              <button type="button" class="btn btn-primary">Finalizado</button>
            </div>
            <div class="fe">
              <i class="fa fa-bell" aria-hidden="true"></i>
              <strong>11-07-2023</strong>
            </div>
          </div>
        </h1>
      </div>
    </div>
  </div>