body{
    overflow: hidden;
    min-height: 100vh;
}
section{
    max-height: calc(max-content+30px);
}
#Contenido{
    display: grid;
    justify-items: center;
    align-items: start;
    align-content: initial;
    padding: 0px 20px;
    margin-top: 10px;
}
.tabla{
    box-shadow:rgb(46, 45, 45) 0.2rem 0.2rem;
    overflow-y: scroll;
    max-height: 75vh;
}
.tabla::-webkit-scrollbar{
    width: 5px;
    background-color: #139BC1;
    border-radius: 5px;
}
.tabla::-webkit-scrollbar-thumb{
    background-color: #72A443;
    width: 5px;
    border-radius: 5px;
}
th{
    background:black;
    color: aliceblue;
    position: sticky;
    top: 0;
}
th p{
    text-align: center;
    margin: 0px;
    background: #72A443;
    border: solid 1px black;
}
td{
    border: solid 2px black;
    background: white;
    padding: 0 10px;
    width: 500px;
    height: 20px;
}
.numero{
    display: none;
}
#gestion button{
    margin: 2px;
}
.contBoton{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding:30px 0px;
}
.agregar{
    color: aliceblue;
    background: rgb(29, 201, 14);
    padding: 10px 15px;
    border-radius:15px;
    box-shadow:rgb(46, 45, 45) 0.2rem 0.2rem;
}
div > .agregar:hover{
    background-color: rgb(2, 73, 5);
}
.guardar{
    color: aliceblue;
    background: rgb(29, 201, 14);
    width: max-content;
    border-radius:20%;
    font-size: 15px;
    place-content: center;
}
div > .agregar:hover{
    background-color: rgb(2, 73, 5);
}
.cancelar{
    color: aliceblue;
    background: rgb(201, 14, 14);
    width: max-content;
    border-radius:20%;
    font-size: 15px;
}
div > .cancelar:hover{
    background-color: rgb(100, 9, 9);
}
.agAct{
    background: white;
    display: block;
    border: solid black 1px;
    border-radius: 15px;
    position: absolute;
    width:81%;
    transform: translateY(-10px);
    opacity: 0;
    animation: deslizar 0.5s ease forwards;
}
.visble{
    opacity: 1;
    transform: translateY(10px);
}
@keyframes deslizar {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
.tituloForm{
    display: block;
    text-align: center;
    font:20px bold;
    padding: 20px;
    border-bottom:solid black 1px;
}
.formulario{
    background: white;
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
    display: grid;
}
.opciones{
    display: flex;
    justify-content: flex-end;
    border-top:solid 1px black;
    padding: 20px;
    height: 80px;
}
.confirmacion{
    display: grid;
    background: white;
    border-radius: 2%;
    border: solid 2px black;
    position: fixed;
    width: 300px;
    height: 200px;
    right: +30%;
    padding: 10px;
    align-content: space-evenly;
    justify-content: center;
    box-shadow:rgb(46, 45, 45) 0.2rem 0.2rem;
}
.boton2{
    display: grid;
    height: 100px;
    margin: 0px;
}
.boton2 button{
    width: 100%;
}
.formulario-activo {
    min-height: 100vh;
  } 
@media screen and (max-width:760px) {
    #Contenido{
        overflow-x: scroll;
        display: grid;
    }
    #agAct{
        position: absolute;
        width: 90%;
    }
    .contLateral{
        padding: 0%;
        height: 300px;
    }
}